<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>To Do list</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1 id="heading"><%= day %></h1>
    </div>
    <div class="box">
      <% tasks.forEach(task=>{ %>
      <div class="item">
        <input type="checkbox" name="" id="" />
        <p><%= task %></p>
      </div>
      <% }) %>

      <form class="item" action="/addItem" method="POST">
        <input type="text" name="newItem" id="" placeholder="New task" autocomplete="off" />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
