<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>To Do list</title>
  </head>
  <body>
    <div class="box heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="sidenav navbox">
      <div class="heading">
        <h1 id="listHeading">Lists</h1>
      </div>
      <%lists.forEach(list=>{ %>
      <a class="listLink" name="<%= list.name %>" href="#"><%= list.name %></a>
      <% }) %>

      <form class="list" action="/addList" method="POST">
        <input
          id="listInput"
          type="text"
          name="listName"
          placeholder="New list"
          autocomplete="off"
        />
        <input class="plus-button" type="submit" value="+" />
      </form>
    </div>

    <div class="box">
      <% tasks.forEach(task=>{ %>
      <div class="item">
        <input type="checkbox" name="" id="" />
        <p><%= task %></p>
      </div>
      <% }) %>

      <form class="item task" action="/addItem" method="POST">
        <input
          type="text"
          name="newItem"
          placeholder="New task"
          autocomplete="off"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
